<template>
  <v-app-bar :class="{ transparent: headerWhite }" class="customer-header">
    <lazy-sidebar class="d-md-none" />
    <v-container>
      <v-row align="center">
        <v-col cols="6" md="2">
          <NuxtLink to="/">
            <v-img
              max-width="105"
              max-height="40"
              contain
              :src="
                !headerWhite ? '/icons/ic-logo.svg' : '/icons/ic-logo-white.svg'
              "
              alt="Logo"
            />
          </NuxtLink>
        </v-col>
        <v-col cols="7" class="d-none d-md-block">
          <lazy-menu />
        </v-col>
        <v-col cols="6" md="3">
          <lazy-language />
        </v-col>
      </v-row>
    </v-container>
  </v-app-bar>
</template>

<script>
import { mapState } from 'vuex'
export default {
  computed: {
    ...mapState('app', ['headerWhite']),
  },

  watch: {
    headerWhite() {},
  },
}
</script>

<style lang="scss" scoped>
.customer-header {
  box-shadow: none !important;
  background-color: transparent !important;
}
.transparent {
  background-color: transparent;
  box-shadow: none !important;
  position: absolute;
  z-index: 2;
}
</style>
