<template>
  <div>
    <v-container>
      <v-row>
        <!-- image -->
        <v-col cols="12" md="8">
          <v-img src="/imgs/img-video.png" alt="video" />

          <v-row align="center" class="mt-7">
            <v-col cols="12" md="6">
              <p class="text-h5 font-weight-bold mb-0">Camera Drop</p>
            </v-col>
            <v-col cols="12" md="6">
              <div class="gray2--text text-subtitle-2 d-flex justify-md-end">
                <div class="d-flex">
                  <v-img
                    src="/icons/ic-small-eye.svg"
                    alt="eye"
                    width="20"
                    height="20"
                    class="mr-1"
                  />
                  <p class="fill-width mb-0">2.3k</p>
                </div>
                <p class="ml-3">Jun 22, 2021</p>
              </div>
            </v-col>
          </v-row>

          <v-row>
            <v-col>
              <p class="mb-0">
                Learning this creative transition will add a layer of engagement
                to any content you produce.
              </p>
            </v-col>
          </v-row>

          <v-row>
            <v-col>
              <client-only>
                <div
                  class="fb-comments"
                  data-href="https://developers.facebook.com/docs/plugins/comments#configuration"
                  data-numposts="5"
                ></div>
              </client-only>
            </v-col>
          </v-row>
        </v-col>

        <!-- text -->
        <v-col cols="12" md="4">
          <h5 class="text-h5 font-weight-bold">Behind the Camera</h5>

          <div class="gray-bg rounded-lg pa-7 mt-4">
            <p class="text-center">
              Let’s Create a TikTok Ads account to Make your videos more known,
              increase your income.
            </p>
            <v-btn
              class="neutral--text mr-md-7 mr-3 text-h6 text-capitalize"
              color="red"
              x-large
            >
              Get TikTok Ads Account
            </v-btn>
          </div>

          <v-row class="mt-7">
            <v-col v-for="(item, i) in 4" :key="i" cols="12">
              <v-row>
                <v-col cols="5">
                  <v-img
                    :src="`/imgs/img-picture${i + 1}.png`"
                    alt="video"
                    class="picture"
                    @click="$router.push(`/creative-tutorials/product${i + 1}`)"
                  />
                </v-col>
                <v-col cols="7">
                  <p class="mb-0 font-weight-bold">Floating effect</p>

                  <v-row class="gray2--text text-subtitle-2">
                    <v-col cols="8">
                      <p>Jun 22, 2021</p>
                    </v-col>

                    <v-col cols="4" class="d-flex">
                      <v-img
                        src="/icons/ic-small-eye.svg"
                        alt="eye"
                        width="20"
                        height="20"
                        class="mr-1"
                      />
                      <p class="fill-width mb-0">2.3k</p>
                    </v-col>
                  </v-row>
                </v-col>
              </v-row>
            </v-col>
          </v-row>
        </v-col>
      </v-row>
    </v-container>

    <v-container class="mt-4 mt-md-7">
      <p class="text-h5 font-weight-bold">More relative video</p>
      <v-row>
        <v-col v-for="(item, index) in 4" :key="index" cols="12" md="3">
          <v-img
            contain
            :src="`/imgs/img-product${index + 1}.png`"
            alt="product"
            class="product-item"
            @click="$router.push(`/creative-library/product${index + 1}`)"
          />
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>

<script>
import { mapActions } from 'vuex'
export default {
  mounted() {
    this.FB_parse()
  },

  methods: {
    ...mapActions('app', ['FB_parse']),
  },
}
</script>
