<template>
  <div>
    <v-container>
      <v-row>
        <!-- text -->
        <v-col cols="12" md="6">
          <h3 class="text-h3 font-weight-bold primary-text">
            Get inspired by watching TikTok creative <br />tutorials
          </h3>

          <p>
            We are give you a tool to increase your revenue and interactions. By
            the way combine creative video and own tool you can get more than
            you looking.
          </p>

          <v-btn
            class="neutral--text mr-md-7 mr-3 text-h6 text-capitalize"
            color="red"
            x-large
          >
            <v-img
              src="/icons/ic-unicon.svg"
              alt="unicon"
              class="mr-3"
              width="20"
              height="20"
            />
            Get TikTok Ads Account
          </v-btn>
        </v-col>

        <!-- image -->
        <v-col cols="12" md="6">
          <v-img src="/imgs/img-banner9.png" alt="banner" />
        </v-col>
      </v-row>
    </v-container>

    <v-container>
      <v-row align="center">
        <v-col cols="6">
          <p class="text-h4 text-right font-weight-bold primary-text mb-1">
            All video creative
          </p>
        </v-col>
        <v-col cols="6">
          <p class="text-h5 font-weight-bold gray2--text mb-0">
            Behind the Camera
          </p>
        </v-col>
      </v-row>

      <v-row>
        <p class="text-center text-width">
          Below you will find short tutorials introducing some of TikTok’s most
          popular creative techniques and all the ways to help grow your
          business.
        </p>
      </v-row>
    </v-container>

    <v-container class="mt-7">
      <v-row>
        <v-col v-for="(item, i) in 12" :key="i" cols="12" md="3">
          <v-img
            :src="`/imgs/img-picture${i + 1}.png`"
            alt="picture"
            height="147"
            class="picture"
            @click="$router.push(`/creative-tutorials/product${i + 1}`)"
          />

          <p class="mt-3 font-weight-bold">Floating effect</p>

          <v-row class="gray2--text text-subtitle-2">
            <v-col cols="3" class="d-flex">
              <v-img
                src="/icons/ic-small-eye.svg"
                alt="eye"
                width="20"
                height="20"
                class="mr-1"
              />
              <p class="fill-width mb-0">2.3k</p>
            </v-col>
            <v-col cols="3" class="d-flex">
              <v-img
                src="/icons/ic-small-reply.svg"
                alt="reply"
                width="14"
                height="12"
                class="mt-1 mr-1"
              />
              <p class="fill-width mb-0">2</p>
            </v-col>
            <v-col cols="6">
              <p>Jun 22, 2021</p>
            </v-col>
          </v-row>
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>

<script>
import { mapMutations } from 'vuex'
export default {
  created() {
    this.setHeader(false)
  },
  methods: {
    ...mapMutations('app', ['setHeader']),
  },
}
</script>

<style lang="scss">
.text-width {
  max-width: 600px;
  margin: 0 auto;
}
.picture {
  &:hover {
    cursor: pointer;
  }
}
</style>
