<template>
  <div>
    <v-container>
      <v-row>
        <!-- image -->
        <v-col cols="12" md="5">
          <v-img :src="image" alt="product" />

          <p class="font-weight-bold text-h5 text-center mt-3">
            Get creative and celebration with your video now
          </p>

          <p class="text-center">
            Let’s Create a TikTok Ads account to Make your videos more known,
            increase your income.
          </p>

          <v-btn
            class="neutral--text mb-7 text-h6 text-capitalize"
            color="red"
            block
            x-large
          >
            Get TikTok Ads Account
          </v-btn>

          <v-btn
            class="neutral--text text-h6 text-capitalize"
            color="primary"
            block
            x-large
          >
            Make this video
          </v-btn>
        </v-col>

        <!-- content -->
        <v-col cols="12" md="7" class="pl-md-7">
          <div class="mb-7">
            <p class="font-weight-bold text-h5">
              About This Ad
            </p>

            <p>
              Lorem Ipsum is simply dummy text of the printing and typesetting
              industry. Lorem Ipsum has been the industry's standard dummy.
            </p>

            <v-row
              align="center"
              class="gray-bg border-radius pa-3 ma-0 ma-md-3"
            >
              <v-col
                cols="12"
                md="3"
                class="py-md-0"
                :class="{
                  'border-right': $device.isDesktop,
                  'border-bottom': $device.isMobile,
                }"
              >
                <p class="mb-0">Region</p>
                <p class="font-weight-bold mb-0">United States</p>
              </v-col>

              <v-col
                cols="12"
                md="6"
                class="py-md-0 pl-md-7"
                :class="{
                  'border-right': $device.isDesktop,
                  'border-bottom': $device.isMobile,
                }"
              >
                <p class="mb-0">Industry</p>
                <p class="font-weight-bold mb-0">Clothing & Accessories</p>
              </v-col>

              <v-col cols="12" md="3" class="pl-md-7">
                <p class="mb-0">Duration</p>
                <p class="font-weight-bold mb-0">6s</p>
              </v-col>
            </v-row>
          </div>

          <div>
            <p class="font-weight-bold text-h5">
              Ad caption
            </p>

            <p>
              Caption: Lorem Ipsum is simply dummy text of the printing and
              typesetting.
            </p>

            <v-row>
              <!-- 1 -->
              <v-col cols="4">
                <div>
                  <div class="d-flex align-center flex-column flex-md-row">
                    <v-img
                      src="/icons/ic-red-heart.svg"
                      alt="heart"
                      width="20"
                      height="18"
                    />

                    <p
                      class="ma-0"
                      :class="{ 'fill-width ml-3': $device.isDesktop }"
                    >
                      Likes
                    </p>
                  </div>

                  <p
                    class="text-center text-md-left text-h5 font-weight-bold mb-0 mt-2"
                  >
                    7.6k
                  </p>
                </div>
              </v-col>

              <!-- 2 -->
              <v-col cols="4">
                <div>
                  <div class="d-flex align-center flex-column flex-md-row">
                    <v-img
                      src="/icons/ic-comment.svg"
                      alt="heart"
                      width="20"
                      height="18"
                    />

                    <p
                      class="ma-0"
                      :class="{ 'fill-width ml-3': $device.isDesktop }"
                    >
                      Comments
                    </p>
                  </div>

                  <p
                    class="text-center text-md-left text-h5 font-weight-bold mb-0 mt-2"
                  >
                    71
                  </p>
                </div>
              </v-col>

              <!-- 3 -->
              <v-col cols="4">
                <div>
                  <div class="d-flex align-center flex-column flex-md-row">
                    <v-img
                      src="/icons/ic-share.svg"
                      alt="heart"
                      width="20"
                      height="18"
                    />

                    <p
                      class="ma-0"
                      :class="{ 'fill-width ml-3': $device.isDesktop }"
                    >
                      Shares
                    </p>
                  </div>

                  <p
                    class="text-center text-md-left text-h5 font-weight-bold mb-0 mt-2"
                  >
                    30
                  </p>
                </div>
              </v-col>
            </v-row>
          </div>

          <client-only>
            <div
              class="fb-comments"
              data-href="https://developers.facebook.com/docs/plugins/comments#configuration"
              data-numposts="5"
            ></div>
          </client-only>
        </v-col>
      </v-row>
    </v-container>

    <v-container class="mt-4 mt-md-7">
      <p class="text-h5 font-weight-bold">More relative video</p>
      <v-row>
        <v-col v-for="(item, index) in 4" :key="index" cols="12" md="3">
          <v-img
            contain
            :src="`/imgs/img-product${index + 1}.png`"
            alt="product"
            class="product-item"
            @click="$router.push(`/creative-library/product${index + 1}`)"
          />
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>
<script>
import { mapMutations, mapActions } from 'vuex'
export default {
  data() {
    return {
      type: 'all',
      image: '',
    }
  },

  created() {
    this.setHeader(false)

    const id = this.$route.params.slug
    this.image = `/imgs/img-${id}.png`
  },

  mounted() {
    this.FB_parse()
  },

  methods: {
    ...mapMutations('app', ['setHeader']),
    ...mapActions('app', ['FB_parse']),
  },
}
</script>

<style lang="scss" scoped>
.border-right {
  border-right: 1px solid #e0e0e5;
}

.border-bottom {
  border-bottom: 1px solid #e0e0e5;
}

.border-radius {
  border-radius: 12px;
}
</style>
