<template>
  <div>
    <div class="banner p-relative">
      <v-img src="imgs/img-creative-background.png" height="300" />
      <h3
        class="text-h4 text-md-h3 white--text banner-text text-center font-weight-bold"
        :class="{ 'banner-text-desktop': $device.isDesktop }"
      >
        Discover the best performing action ads on TikTok
      </h3>
    </div>

    <div class="filter">
      <v-container>
        <v-row align="center" class="button-group-width ma-md-auto">
          <v-col cols="12" md="3">
            <span>Select Category</span>
          </v-col>
          <v-col cols="12" md="9">
            <v-btn-toggle
              v-model="type"
              tile
              group
              class="category_button"
              :class="{ 'group-mobile': $device.isMobile }"
            >
              <v-btn text height="44" value="all">
                All
              </v-btn>

              <v-btn text height="44" value="hashtags">
                Hashtags
              </v-btn>

              <v-btn text height="44" value="pcd">
                POD
              </v-btn>

              <v-btn text height="44" value="dropping_ship">
                Dropping ship
              </v-btn>
            </v-btn-toggle>
          </v-col>
        </v-row>
      </v-container>
    </div>

    <v-container>
      <lazy-card />
    </v-container>
  </div>
</template>

<script>
import { mapMutations } from 'vuex'
export default {
  data() {
    return {
      type: 'all',
    }
  },

  created() {
    this.setHeader(true)
  },
  methods: {
    ...mapMutations('app', ['setHeader']),
  },
}
</script>

<style lang="scss" scoped>
.banner-text {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.banner-text-desktop {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 650px;
}

.filter {
  background-color: var(--v-gray-base);
}

.button-group-width {
  max-width: 800px;
}

::v-deep .category_button {
  width: 100%;
  padding: 6px;
  border: 1px solid #82838a !important;
  border-radius: 6px;

  .v-btn.v-item--active.v-btn--active {
    background-color: var(--v-red-base) !important;
    border-color: var(--v-red-base) !important;
    border-radius: 6px !important;
    color: white;
  }
  .v-btn.v-btn {
    width: calc(100% / 4);

    padding: 0;
    margin: 0;
  }

  &.group-mobile {
    .v-btn.v-btn {
      width: auto;
      padding: 0 4px;
      margin: 0 2px;
    }
  }
}
</style>
