<template>
  <div class="pb-10">
    <v-row align="center" class="mb-5">
      <!-- filter -->
      <v-col md="9" class="d-none d-md-block">
        <v-row class="filter-width">
          <!-- national selection -->
          <v-col cols="4">
            <v-select
              class="custom-select"
              append-icon=""
              hide-details
              hide-selected
              :items="filterNational"
              label="Sort video by National"
            ></v-select>
          </v-col>

          <!-- Industry selection -->
          <v-col cols="4">
            <v-select
              class="custom-select"
              append-icon=""
              hide-details
              hide-selected
              :items="filterIndustry"
              label="Sort video by Industry"
            ></v-select>
          </v-col>

          <!-- Niche selection -->
          <v-col cols="4">
            <v-select
              class="custom-select"
              append-icon=""
              hide-details
              hide-selected
              :items="filterNiche"
              label="Sort video by Niche"
            ></v-select>
          </v-col>
        </v-row>
      </v-col>

      <!-- search -->
      <v-col cols="8" md="3">
        <v-text-field
          v-model="searchTerm"
          class="search-input"
          hide-details
          hide-selected
          label="Search your product"
        >
          <template #prepend-inner>
            <img
              class="icon-search"
              alt="search"
              src="/icons/ic-search.svg"
              width="18px"
              height="18px"
            />
          </template>
        </v-text-field>
      </v-col>

      <!-- button filter -->
      <v-col cols="4" class="d-block d-md-none">
        <v-menu offset-y>
          <template #activator="{ on, attrs }">
            <v-btn width="100" outlined v-bind="attrs" v-on="on">
              <v-img
                class="icon-search"
                alt="search"
                src="/icons/ic-filter.svg"
                width="24px"
                height="24px"
              />
              Filter
            </v-btn>
          </template>
          <v-list>
            <v-list-item>
              <v-list-item-title>
                <NuxtLink to="/creative-library" class="text-decoration-none">
                  <span class="mr-3">Creative Library</span>
                </NuxtLink>
              </v-list-item-title>
            </v-list-item>
          </v-list>
        </v-menu>
      </v-col>
    </v-row>
    <v-row>
      <v-col v-for="(item, index) in 8" :key="index" cols="12" md="3">
        <v-img
          contain
          :src="`/imgs/img-product${index + 1}.png`"
          alt="product"
          class="product-item"
          @click="$router.push(`/creative-library/product${index + 1}`)"
        />
      </v-col>
    </v-row>
  </div>
</template>

<script>
export default {
  data() {
    return {
      searchTerm: '',
      filterNational: ['United kingdom', 'Vietname', 'Laos'],
      filterNiche: ['Mutualism', 'Coevolution', 'Fundamental'],
      filterIndustry: [
        'Transport',
        'Agriculture',
        'Education',
        'Pharmaceutical',
      ],
    }
  },
}
</script>

<style lang="scss" scoped>
.filter-width {
  max-width: 700px;
}

::v-deep .search-field {
  .v-input__icon--prepend-inner {
    .v-icon {
      &:after {
        display: block;
        content: 'a';
      }
    }
  }
}

.product-item {
  &:hover {
    cursor: pointer;
  }
}
</style>
