<template>
  <div class="text-right">
    <v-btn
      v-for="(language, index) in languages"
      :key="index"
      icon
      width="24"
      height="18"
      :class="{ 'mr-3': index === 0 }"
    >
      <v-img contain :src="language.icon" />
    </v-btn>
  </div>
</template>

<script>
export default {
  computed: {
    languages() {
      return this.$i18n.locales
    },
  },
}
</script>
