<template>
  <section style="z-index: 2;">
    <div id="contact" class="primary-bg white--text py-10">
      <v-container>
        <v-row>
          <v-col cols="12" md="6">
            <NuxtLink to="/">
              <v-img
                max-width="66"
                max-height="66"
                contain
                src="/icons/ic-logo-footer.svg"
                alt="Logo"
              />
            </NuxtLink>
            <h3 class="text-h3 font-weight-bold my-3">Ecomdy Media</h3>

            <p>
              Please contact us immediately to receive advice on service costs,
              and many attractive incentives for you.!
            </p>

            <!-- address -->
            <div class="d-flex">
              <v-img
                src="/icons/ic-location.svg"
                alt="location"
                width="24"
                height="24"
                class="mr-3"
              />
              <p class="fill-width">
                Address: K110/5 Nguyen Huu Tho Hoa Thuan Tay, Da Nang, Viet Nam
              </p>
            </div>

            <!-- phone  -->
            <div class="d-flex">
              <v-img
                src="/icons/ic-phone.svg"
                alt="location"
                width="24"
                height="24"
                class="mr-3"
              />
              <p class="fill-width">
                Hotline: 0944.399.996
              </p>
            </div>

            <!-- email  -->
            <div class="d-flex">
              <v-img
                src="/icons/ic-email.svg"
                alt="location"
                width="24"
                height="24"
                class="mr-3"
              />
              <p class="fill-width">
                Email: support@ecomdymedia.com
              </p>
            </div>

            <!-- telegram  -->
            <div class="d-flex">
              <v-img
                src="/icons/ic-telegram.svg"
                alt="location"
                width="24"
                height="24"
                class="mr-3"
              />
              <p class="fill-width">
                Telegram: Get link from Ecomdy marketing team
              </p>
            </div>

            <!-- whatsapp  -->
            <div class="d-flex">
              <v-img
                src="/icons/ic-whatsapp.svg"
                alt="location"
                width="24"
                height="24"
                class="mr-3"
              />
              <p class="fill-width">
                Whatsapp: Get link from Ecomdy marketing team
              </p>
            </div>

            <!-- facebook  -->
            <div class="d-flex">
              <v-img
                src="/icons/ic-facebook.svg"
                alt="location"
                width="24"
                height="24"
                class="mr-3"
              />
              <p class="fill-width">
                Link fanpage: https://www.facebook.com/EcomdyMedia
              </p>
            </div>
            <div>
              <v-img
                contain
                src="/icons/ic-box.svg"
                alt="box"
                width="97"
                height="97"
                class="d-inline-block"
              />
              <v-img
                contain
                src="/icons/ic-paper-box.svg"
                alt="box"
                width="120"
                height="100"
                class="d-inline-block"
              />
            </div>
          </v-col>

          <v-col cols="12" md="6">
            <p class="text-h4 font-weight-black">Fill in your details</p>
            <v-form v-model="inValid" class="form-content">
              <!-- name -->
              <v-row class="mt-0">
                <v-col cols="12" class="pb-0">
                  <v-text-field
                    v-model="name"
                    name="name"
                    outlined
                    type="name"
                    label="Full name *"
                    background-color="#63667b"
                    :rules="nameRule"
                  />
                </v-col>
              </v-row>

              <!-- email -->
              <v-row class="mt-0">
                <v-col cols="12" class="pb-0">
                  <v-text-field
                    v-model="email"
                    name="email"
                    outlined
                    type="email"
                    label="Email *"
                    background-color="#63667b"
                    :rules="emailRules"
                  />
                </v-col>
              </v-row>

              <!-- Facebook profile -->
              <v-row class="mt-0">
                <v-col cols="12" class="pb-0">
                  <v-text-field
                    v-model="facebook"
                    name="facebook"
                    outlined
                    type="facebook"
                    label="Profile Facebook *"
                    background-color="#63667b"
                    :rules="facebookRule"
                  />
                </v-col>
              </v-row>

              <!-- Whatsapp -->
              <v-row class="mt-0">
                <v-col cols="12" class="pb-0">
                  <v-text-field
                    v-model="whatsapp"
                    name="whatsapp"
                    outlined
                    type="whatsapp"
                    label="Whatsapp *"
                    background-color="#63667b"
                    :rules="whatsappRule"
                  />
                </v-col>
              </v-row>

              <!-- Content -->
              <v-row class="mt-0">
                <v-col cols="12" class="pb-0">
                  <v-textarea
                    v-model="content"
                    name="content"
                    outlined
                    type="content"
                    background-color="#63667b"
                    label="Write something"
                  />
                </v-col>
              </v-row>

              <v-row>
                <v-col cols="12">
                  <v-btn
                    block
                    class="neutral--text mr-md-7 mr-3 text-h6 text-capitalize"
                    color="red"
                    x-large
                  >
                    Send your information</v-btn
                  >
                </v-col>
              </v-row>
            </v-form>
          </v-col>
        </v-row>
      </v-container>
    </div>

    <div class="copyright">
      <v-container>
        <p class="mb-0">
          Copyright 2021 © Ecomdy Media All rights reserved. This Website belong
          to Ecomdy media. Mail : support@ecomdymedia.com
        </p>
      </v-container>
    </div>
  </section>
</template>

<script>
export default {
  data() {
    return {
      inValid: false,
      name: '',
      email: '',
      facebook: '',
      whatsapp: '',
      content: '',
      emailRules: [
        (v) => !!v || 'Required!',
        (v) => !!this.validateEmail(v) || 'Invalid email',
      ],
      nameRule: [(v) => !!v || 'Required!'],
      facebookRule: [(v) => !!v || 'Required!'],
      whatsappRule: [(v) => !!v || 'Required!'],
    }
  },

  methods: {
    validateEmail(email) {
      const re = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
      return re.test(String(email).toLowerCase())
    },
  },
}
</script>

<style lang="scss" scoped>
::v-deep .form-content {
  label {
    color: #bebec2;
  }
  label.v-label--active {
    color: #bebec2 !important;
  }
}
.copyright {
  color: #fff;
  background-color: #63667b;
}
</style>
