<template>
  <div>
    <client-only>
      <v-app-bar-nav-icon @click.stop="toggleMenu">
        <v-btn icon>
          <img
            alt="Icon Cart"
            src="/icons/ic-side-bar.svg"
            width="24px"
            height="24px"
          />
        </v-btn>
      </v-app-bar-nav-icon>
    </client-only>

    <v-navigation-drawer v-model="drawer" temporary app>
      <p>menu side</p>
    </v-navigation-drawer>
  </div>
</template>

<script>
export default {
  data() {
    return {
      drawer: false,
    }
  },

  methods: {
    toggleMenu() {
      this.drawer = !this.drawer
    },
  },
}
</script>
