<template>
  <v-app>
    <lazy-header />
    <v-main class="main" :class="{ space: !headerWhite }">
      <Nuxt />
    </v-main>
    <lazy-footer />
  </v-app>
</template>

<script>
import { mapState } from 'vuex'
export default {
  data() {
    return {
      clipped: false,
      drawer: false,
      fixed: false,
      items: [
        {
          icon: 'mdi-apps',
          title: 'Welcome',
          to: '/',
        },
        {
          icon: 'mdi-chart-bubble',
          title: 'Inspire',
          to: '/inspire',
        },
      ],
      miniVariant: false,
      right: true,
      rightDrawer: false,
      title: 'Vuetify.js',
    }
  },

  computed: {
    ...mapState('app', ['headerWhite']),
  },
}
</script>

<style lang="scss" scoped></style>
