<template>
  <div>
    <v-container>
      <v-row>
        <!-- text -->
        <v-col cols="12" md="4">
          <div class="d-flex flex-column rounded-lg hidden">
            <v-img
              src="/imgs/img-intro.png"
              alt="intro"
              class="picture"
              @click="$router.push(`/business-learning-center/product${i + 1}`)"
            />
            <div class="pa-5 white-bg">
              <p class="font-weight-bold">
                Introduction to TikTok for Business
              </p>

              <p class="gray2--text">Pulished 2020-06-30</p>

              <div
                class="d-inline-flex violet-bg rounded-xl pr-3 py-2 mr-2 pl-2"
              >
                <v-img
                  src="/icons/ic-clock.svg"
                  alt="clock"
                  width="20"
                  aspect-ratio="1"
                  height="13"
                  contain
                  class="d-inline-block"
                />

                <p class="mb-0 fill-width line-height">5 mins</p>
              </div>

              <div class="d-inline-flex violet-bg rounded-xl px-3 py-2">
                <p class="mb-0 fill-width line-height">Beginer</p>
              </div>

              <!-- <span class="violet-bg rounded-xl pa-2 d-inline-flex">
                <v-img
                  src="/icons/ic-clock.svg"
                  alt="clock"
                  width="20"
                  height="20"
                  class="d-inline-block"
                />
                <p class="mb-0 fill-width">5 mins</p>
              </span>

              <span class="violet-bg rounded-xl pa-2 d-inline-flex">
                <p class="mb-0 fill-width">Beginer</p>
              </span> -->

              <p class="mt-5 mb-0">
                Elearning Module 1: Learn about the diverse global ...
              </p>
            </div>
          </div>

          <v-btn
            class="neutral--text mr-md-7 mr-3 text-h6 text-capitalize"
            color="red"
            x-large
          >
            Get TikTok Ads Account
          </v-btn>
        </v-col>

        <!-- image -->
        <v-col cols="12" md="8">
          <v-img src="/imgs/img-video.png" alt="video" />

          <v-row align="center" class="mt-7">
            <v-col cols="12" md="8">
              <p class="text-h5 font-weight-bold mb-0">
                Introduction to TikTok for Business
              </p>
            </v-col>

            <v-col cols="12" md="4">
              <div class="gray2--text text-subtitle-2 d-flex justify-md-end">
                <div class="d-flex">
                  <v-img
                    src="/icons/ic-small-eye.svg"
                    alt="eye"
                    width="20"
                    height="20"
                    class="mr-1"
                  />
                  <p class="fill-width mb-0">2.3k</p>
                </div>
                <p class="ml-3 mb-0">Jun 22, 2021</p>
              </div>
            </v-col>
          </v-row>

          <v-row>
            <v-col>
              <p class="mb-0">
                Elearning Module 1: Learn about the diverse global ...
              </p>
            </v-col>
          </v-row>

          <v-row>
            <v-col>
              <client-only>
                <div
                  class="fb-comments"
                  data-href="https://developers.facebook.com/docs/plugins/comments#configuration"
                  data-numposts="5"
                ></div>
              </client-only>
            </v-col>
          </v-row>
        </v-col>
      </v-row>
    </v-container>

    <!-- ------ -->
    <v-container class="mt-4 mt-md-7">
      <p class="text-h5 font-weight-bold">More relative video</p>
      <v-row>
        <v-col v-for="(item, i) in 4" :key="i" cols="12" md="3">
          <div class="d-flex flex-column rounded-lg hidden">
            <v-img
              src="/imgs/img-intro.png"
              alt="intro"
              class="picture"
              @click="$router.push(`/business-learning-center/product${i + 1}`)"
            />
            <div class="pa-5 white-bg">
              <div class="d-flex">
                <v-img
                  src="/icons/ic-book.svg"
                  alt="book"
                  width="24"
                  height="24"
                />

                <p class="font-weight-bold mb-0 ml-3">
                  Introduction to TikTok for Business
                </p>
              </div>

              <p class="mt-5 mb-0">
                Elearning Module 1: Learn about the diverse global ...
              </p>
            </div>
          </div>
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>

<script>
import { mapMutations, mapActions } from 'vuex'
export default {
  data() {
    return {
      type: 'all',
      image: '',
    }
  },

  created() {
    this.setHeader(false)

    const id = this.$route.params.slug
    this.image = `/imgs/img-${id}.png`
  },

  mounted() {
    this.FB_parse()
  },

  methods: {
    ...mapMutations('app', ['setHeader']),
    ...mapActions('app', ['FB_parse']),
  },
}
</script>
