<template>
  <div>
    <div
      :class="{ 'banner-desktop': $device.isDesktop, banner: $device.isMobile }"
    >
      <v-container class="py-10 py-md-10">
        <v-row>
          <v-col cols="12" md="5">
            <h4 class="text-h4 font-weight-bold">
              Welcome to business Learning Center
            </h4>

            <p class="mt-10 mb-0">
              Let’s Create a TikTok Ads account to Make your videos more known,
              increase your income.
            </p>

            <v-btn
              class="neutral--text mt-10 text-h6 text-capitalize"
              color="red"
              x-large
            >
              Get TikTok Ads Account
            </v-btn>
          </v-col>
          <v-col cols="12" md="7" class="mt-7 mt-md-0">
            <v-img src="/imgs/img-banner-tool.png" alt="banner" />
          </v-col>
        </v-row>
      </v-container>
    </div>

    <div class="gray-bg py-md-15 py-7">
      <v-container>
        <v-row>
          <v-col v-for="(item, i) in 16" :key="i" cols="12" md="3">
            <div class="d-flex flex-column rounded-lg hidden">
              <v-img
                src="/imgs/img-intro.png"
                alt="intro"
                class="picture"
                @click="
                  $router.push(`/business-learning-center/product${i + 1}`)
                "
              />
              <div class="pa-5 white-bg">
                <div class="d-flex">
                  <v-img
                    src="/icons/ic-book.svg"
                    alt="book"
                    width="24"
                    height="24"
                  />

                  <p class="font-weight-bold mb-0 ml-3">
                    Introduction to TikTok for Business
                  </p>
                </div>

                <p class="mt-5 mb-0">
                  Elearning Module 1: Learn about the diverse global ...
                </p>
              </div>
            </div>
          </v-col>
        </v-row>
      </v-container>
    </div>
  </div>
</template>

<script>
import { mapMutations } from 'vuex'
export default {
  created() {
    this.setHeader(true)
  },
  methods: {
    ...mapMutations('app', ['setHeader']),
  },
}
</script>

<style lang="scss" scoped>
.banner-desktop {
  padding-top: 64px;
  background-image: url('/imgs/img-banner-learning.png');
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 510px;
  color: white;
}
.banner {
  padding-top: 64px;
  background-image: url('/imgs/img-banner-learning-mobile.png');
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 670px;
  color: white;
}
</style>
