<template>
  <div class="home-page">
    <!-- ----- -->
    <section>
      <v-container>
        <v-row>
          <v-col cols="12" md="6">
            <div>
              <p class="text-h6 mb-6">Ecomdy Media – Official Agency</p>
              <h1 class="text-h4 text-md-h3 font-weight-bold mb-5">
                Providing <br />
                Advertising <br />
                solution on TikTok
              </h1>
              <p class="mb-7">
                Try professional service free for 14 days without no deposit and
                Unlimited spending, also you can get directly support from
                Ecomdy and TikTok.
              </p>
              <div class="mb-7">
                <v-btn
                  class="neutral--text mr-md-7 mr-3 text-h6 text-capitalize"
                  color="red"
                  x-large
                >
                  Try for free
                </v-btn>
                <v-btn
                  class="red--text text-h6 text-capitalize"
                  color="pink"
                  x-large
                >
                  View more</v-btn
                >
              </div>

              <v-img
                contain
                src="/imgs/img-review.png"
                alt="review star"
                max-width="240"
              />
            </div>
          </v-col>
          <v-col cols="12" md="6">
            <v-img contain src="/imgs/img-banner.png" alt="banner" />
          </v-col>
        </v-row>
      </v-container>
    </section>

    <section class="gray-bg py-10 text-center">
      <v-container>
        <p class="text-h6">Trusted by professionals at</p>
        <div>
          <client-only>
            <swiper class="swiper" :options="swiperOptions">
              <swiper-slide v-for="(item, i) in branches" :key="i" class="mr-7">
                <v-img
                  contain
                  :src="item.icon"
                  :alt="item.name"
                  :height="item.height"
                  :width="item.width"
                />
              </swiper-slide>
            </swiper>
          </client-only>
        </div>
      </v-container>
    </section>

    <section class="py-10">
      <v-container>
        <div class="text-center">
          <h1 class="text-h4 text-md-h3 font-weight-bold mb-5">
            Advantages of Ecomdy Media
          </h1>

          <p>We are the official agent of TikTok</p>
        </div>

        <v-img src="/imgs/img-banner1.png" alt="banner " />
      </v-container>
    </section>

    <section class="primary-bg py-10 white--text">
      <v-container>
        <div class="text-center">
          <h1 class="text-h4 text-md-h3 font-weight-bold mb-5 title-width">
            Approach more customers with account TikTok ads agency
          </h1>

          <p>
            TikTok ads agency makes you famous on TikTok with amazing video ads
            of your choice. Get featured on tiktok easily with our custom made
            video ad campaigns.
          </p>
        </div>

        <v-img src="/imgs/img-banner2.png" alt="banner " />

        <v-row class="mt-7">
          <v-col cols="12" md="4" class="mb-5 mb-md-0">
            <v-row>
              <v-col cols="2" class="pt-4">
                <v-img src="/icons/ic-tiktok-pp.svg" alt="tiktok" />
              </v-col>
              <v-col cols="10">
                <h6 class="text-h6">
                  Account Performance
                </h6>
                <p class="text-subtitle-2 font-weight-regular">
                  Account that runs smoothly, does not squeeze reach, does not
                  limit money to run.
                </p>
              </v-col>
            </v-row>
          </v-col>

          <v-col cols="12" md="4" class="mb-5 mb-md-0">
            <v-row>
              <v-col cols="2" class="pt-4">
                <v-img src="/icons/ic-cup-cf.svg" alt="cup cf" />
              </v-col>
              <v-col cols="10">
                <h6 class="text-h6">
                  Free Experience
                </h6>
                <p class="text-subtitle-2 font-weight-regular">
                  Free account creation and 14-day trial.
                </p>
              </v-col>
            </v-row>
          </v-col>

          <v-col cols="12" md="4" class="mb-5 mb-md-0">
            <v-row>
              <v-col cols="2" class="pt-4">
                <v-img src="/icons/ic-currency.svg" alt="currency" />
              </v-col>
              <v-col cols="10">
                <h6 class="text-h6">
                  Secure & Auto deposit
                </h6>
                <p class="text-subtitle-2 font-weight-regular">
                  Payment security and unused funds will be refunded immediately
                </p>
              </v-col>
            </v-row>
          </v-col>
        </v-row>
      </v-container>
    </section>

    <section id="progress" class="py-10">
      <v-container>
        <div class="text-center">
          <h1 class="text-h4 text-md-h3 font-weight-bold mb-5 title-width">
            The process of Registering TikTok agency ads account
          </h1>

          <p>
            easily create an account and run ads with ecomdy media.
          </p>
        </div>

        <div class="mt-10">
          <v-row>
            <!-- 1 -->
            <v-col
              cols="12"
              md="4"
              class="py-7 pa-md-7 text-center"
              :class="{
                'border-bottom': $device.isMobile,
              }"
            >
              <v-row class="flex-column" align="center">
                <v-img
                  src="/icons/ic-user.svg"
                  alt="user"
                  width="24"
                  height="28"
                  class="mb-4"
                />
                <h6 class="text-h6 mb-2">
                  1. Register Account
                </h6>
                <p>The client register an account to use ecomdy’s services.</p>

                <NuxtLink to="/" class="red--text text-decoration-none">
                  <span class="mr-3">Learn more ></span>
                </NuxtLink>
              </v-row>
            </v-col>

            <!-- 2 -->
            <v-col
              cols="12"
              md="4"
              class="py-7 pa-md-7 text-center"
              :class="{
                'border-bottom': $device.isMobile,
                'border-left border-right': $device.isDesktop,
              }"
            >
              <v-row class="flex-column" align="center">
                <v-img
                  src="/icons/ic-tiktok-user.svg"
                  alt="user"
                  width="32"
                  height="32"
                  class="mb-4"
                />
                <h6 class="text-h6 mb-2">
                  2. Request TikTok Ads Account
                </h6>
                <p>
                  The client creates Business Center accounts and sends the ID
                  to Ecomdy.
                </p>

                <NuxtLink to="/" class="red--text text-decoration-none">
                  <span class="mr-3">Learn more ></span>
                </NuxtLink>
              </v-row>
            </v-col>

            <!-- 3 -->
            <v-col
              cols="12"
              md="4"
              class="py-7 pa-md-7 text-center"
              :class="{
                'border-bottom': $device.isMobile,
              }"
            >
              <v-row class="flex-column" align="center">
                <v-img
                  src="/icons/ic-deposit.svg"
                  alt="user"
                  width="32"
                  height="32"
                  class="mb-4"
                />
                <h6 class="text-h6 mb-2">
                  3. Make a deposit
                </h6>
                <p>
                  Recharge to run ad account on TikTok.
                </p>

                <NuxtLink to="/" class="red--text text-decoration-none">
                  <span class="mr-3">Learn more ></span>
                </NuxtLink>
              </v-row>
            </v-col>

            <!-- 4 -->
            <v-col
              cols="12"
              md="4"
              class="py-7 pa-md-7 text-center"
              :class="{
                'border-top': $device.isDesktop,
                'border-bottom': $device.isMobile,
              }"
            >
              <v-row class="flex-column" align="center">
                <v-img
                  src="/icons/ic-speaker.svg"
                  alt="user"
                  width="36"
                  height="32"
                  class="mb-4"
                />
                <h6 class="text-h6 mb-2">
                  4. Launch campaigns
                </h6>
                <p>
                  Ecomdy supports customer to launch campaigns on the
                  advertising account.
                </p>

                <NuxtLink to="/" class="red--text text-decoration-none">
                  <span class="mr-3">Learn more ></span>
                </NuxtLink>
              </v-row>
            </v-col>

            <!-- 5 -->
            <v-col
              cols="12"
              md="4"
              class="py-7 pa-md-7 text-center"
              :class="{
                'border-bottom': $device.isMobile,
                'border-top border-left border-right': $device.isDesktop,
              }"
            >
              <v-row class="flex-column" align="center">
                <v-img
                  src="/icons/ic-support.svg"
                  alt="user"
                  width="35"
                  height="32"
                  class="mb-4"
                />
                <h6 class="text-h6 mb-2">
                  5. Review & Supporter
                </h6>
                <p>
                  Technical support and camp review from TikTok Team Official.
                </p>

                <NuxtLink to="/" class="red--text text-decoration-none">
                  <span class="mr-3">Learn more ></span>
                </NuxtLink>
              </v-row>
            </v-col>

            <!-- 6 -->
            <v-col
              cols="12"
              md="4"
              class="py-7 pa-md-7 text-center d-flex align-center"
              :class="{
                'border-top': $device.isDesktop,
              }"
            >
              <v-row class="flex-column" align="center">
                <h6 class="text-h5 mb-2">
                  Do not have an account ?
                </h6>
                <v-btn
                  class="neutral--text mr-md-7 mr-3 text-h6 text-capitalize"
                  color="red"
                  x-large
                >
                  Register now
                </v-btn>
              </v-row>
            </v-col>
          </v-row>
        </div>
      </v-container>
    </section>

    <section class="gray-bg py-10">
      <v-container>
        <h1 class="text-h4 text-md-h3 font-weight-bold mb-10">
          Thousands of customers love us <br />
          Because
          <span class="gray2--text">their members love them</span>
        </h1>

        <v-row>
          <!-- 1 -->
          <v-col cols="12" md="4" class="review-card pa-5 pa-md-7">
            <v-row class="flex-column white-bg fill-height" align="center">
              <v-col class="p-relative">
                <div class="d-inline-flex align-center">
                  <v-img
                    src="/icons/ic-avatar1.svg"
                    alt="avatar"
                    width="44"
                    height="44"
                  />
                  <span class="text-h6 ml-2">Captan Colt</span>
                </div>

                <p class="pb-3">
                  “Hey guys I've signed up recently with Kathy Ecomdy and her
                  agency and they are awesome! Kathy is super helpful and their
                  team is pro. These agency accounts seem like FB agency
                  accounts, a lot less issues and if any a rep is there to help
                  push stuff through! Highly recommend giving EComdy agency a
                  try!”
                </p>
                <div
                  class="border-top px-3 pt-5 p-absolute bottom-0 left-0 right-0"
                >
                  <span class="text-h5 font-weight-black">500%</span>
                  <p>increase in active memberships</p>
                </div>
              </v-col>
            </v-row>
          </v-col>

          <!-- 2 -->
          <v-col cols="12" md="4" class="review-card pa-5 pa-md-7">
            <v-row class="flex-column white-bg fill-height" align="center">
              <v-col class="p-relative">
                <div class="d-inline-flex align-center">
                  <v-img
                    src="/icons/ic-avatar2.svg"
                    alt="avatar"
                    width="44"
                    height="44"
                  />
                  <span class="text-h6 ml-2">Cortesi Stefano</span>
                </div>

                <p class="pb-3">
                  “however I wanted to congratulate you l'm finding it very well
                  with your agency I hope to continue like this with this good
                  relationship. Thank you.”
                </p>
                <div
                  class="border-top px-3 pt-5 p-absolute bottom-0 left-0 right-0"
                >
                  <span class="text-h5 font-weight-black">100%</span>
                  <p>increase in active memberships</p>
                </div>
              </v-col>
            </v-row>
          </v-col>

          <!-- 3 -->
          <v-col cols="12" md="4" class="review-card pa-5 pa-md-7">
            <v-row class="flex-column white-bg fill-height" align="center">
              <v-col class="p-relative">
                <div class="d-inline-flex align-center">
                  <v-img
                    src="/icons/ic-avatar3.svg"
                    alt="avatar"
                    width="44"
                    height="44"
                  />
                  <span class="text-h6 ml-2">Alexis Badet</span>
                </div>

                <p class="pb-3">
                  “Hello, my name is Alexis and i am planning to launch a TIKTok
                  ads campaing to set my business to the next level. I am new to
                  Tiktoki just launched 2/3 campaigng in the past without a lot
                  of success and a friend of me recommended you to help me
                  through TikTok ads”
                </p>
                <div
                  class="border-top px-3 pt-5 p-absolute bottom-0 left-0 right-0"
                >
                  <span class="text-h5 font-weight-black">300%</span>
                  <p>increase in active membershipss</p>
                </div>
              </v-col>
            </v-row>
          </v-col>
        </v-row>
      </v-container>
    </section>

    <section id="question" class="py-10">
      <v-container>
        <div class="text-center">
          <h1 class="text-h4 text-md-h3 font-weight-bold mb-5">
            Frequently asked question
          </h1>
          <p>Most Frequently Asked Question About Ecomdy.</p>
        </div>

        <client-only>
          <v-row>
            <!-- 1 -->
            <v-col cols="12" md="6" class="question-card">
              <v-expansion-panels>
                <v-expansion-panel>
                  <v-expansion-panel-header
                    class="text-subtitle-1 font-weight-bold pa-5 pa-md-7"
                  >
                    What's the Business Management account ?
                  </v-expansion-panel-header>
                  <v-expansion-panel-content class="pa-5 pa-md-7 pt-md-0">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                    do eiusmod tempor incididunt ut labore et dolore magna
                    aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                    ullamco laboris nisi ut aliquip ex ea commodo consequat.
                  </v-expansion-panel-content>
                </v-expansion-panel>
              </v-expansion-panels>
            </v-col>

            <!-- 2 -->
            <v-col cols="12" md="6" class="question-card">
              <v-expansion-panels>
                <v-expansion-panel>
                  <v-expansion-panel-header
                    class="text-subtitle-1 font-weight-bold pa-5 pa-md-7"
                  >
                    Can I run trademark product ads on TikTok ?
                  </v-expansion-panel-header>
                  <v-expansion-panel-content class="pa-5 pa-md-7 pt-md-0">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                    do eiusmod tempor incididunt ut labore et dolore magna
                    aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                    ullamco laboris nisi ut aliquip ex ea commodo consequat.
                  </v-expansion-panel-content>
                </v-expansion-panel>
              </v-expansion-panels>
            </v-col>

            <!-- 3 -->
            <v-col cols="12" md="6" class="question-card">
              <v-expansion-panels>
                <v-expansion-panel>
                  <v-expansion-panel-header
                    class="text-subtitle-1 font-weight-bold pa-5 pa-md-7"
                    :class="{
                      'padding-space': $device.isDesktop,
                    }"
                  >
                    Why am I penalized if my account is locked?
                  </v-expansion-panel-header>
                  <v-expansion-panel-content class="pa-5 pa-md-7 pt-md-0">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                    do eiusmod tempor incididunt ut labore et dolore magna
                    aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                    ullamco laboris nisi ut aliquip ex ea commodo consequat.
                  </v-expansion-panel-content>
                </v-expansion-panel>
              </v-expansion-panels>
            </v-col>

            <!-- 4 -->
            <v-col cols="12" md="6">
              <v-expansion-panels>
                <v-expansion-panel>
                  <v-expansion-panel-header
                    class="text-subtitle-1 font-weight-bold pa-5 pa-md-7"
                  >
                    Can I get my balance back when I stop using my account? And
                    how long will it take for me to receive it?
                  </v-expansion-panel-header>
                  <v-expansion-panel-content class="pa-5 pa-md-7 pt-md-0">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                    do eiusmod tempor incididunt ut labore et dolore magna
                    aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                    ullamco laboris nisi ut aliquip ex ea commodo consequat.
                  </v-expansion-panel-content>
                </v-expansion-panel>
              </v-expansion-panels>
            </v-col>
          </v-row>
        </client-only>

        <v-row class="text-center mt-5">
          <v-col>
            <span>Still have unanswered questions ? </span>
            <span class="text-decoration-underline">Get in touch</span>
          </v-col>
        </v-row>
      </v-container>
    </section>

    <section id="policy_terms" class="primary-bg py-10 white--text">
      <v-container>
        <div class="text-center">
          <h1 class="text-h4 text-md-h3 font-weight-bold mb-5">
            Our mission to make you get better revenue
          </h1>

          <p>
            Ecomdy Media is an official member of Ecomdy with more than 5 years
            of experience in global markets such as the US, AU, Taiwan, VN…;
            selected by TikTok as a strategic partner to develop the TikTok
            advertising community in Vietnameasily create an account and run ads
            with ecomdy media.
          </p>
        </div>

        <v-row>
          <v-col cols="12" md="8">
            <v-img src="/imgs/img-banner2.png" alt="banner" />
          </v-col>

          <v-col cols="12" md="4">
            <p>
              In the past time, Ecomdy Media has developed together with
              authentic partners such as Payoneer, Accesstrade, TeeAllover,
              Burger Prints, Printway… Participating in sponsoring programs in
              the MMO community such as Group Viet Ecom Builders (VEB) –
              Building Vietnam e-commerce Community
            </p>
            <p>
              With the orientation to become an Agency with the best quality and
              continue to be a trusted partner of clients in the MMO community,
              Ecomdy Media always strives to improve service quality to bring
              the best support for customers, to deserves to be one of the
              official TikTok Agencys created in Vietnam
            </p>
          </v-col>
        </v-row>
      </v-container>
    </section>

    <section class="gray-bg py-10">
      <v-container>
        <p class="text-h6 text-center font-weight-bold">
          The number we have achieved
        </p>
        <v-row>
          <!-- 1 -->
          <v-col cols="12" md="3" class="d-inline-flex">
            <v-img
              src="/icons/ic-calendar.svg"
              alt="canlander"
              max-width="32"
              height="32"
              class="mr-3 mt-1"
            />
            <div>
              <p class="text-h4 mb-1">06</p>
              <p>Years of experience</p>
            </div>
          </v-col>

          <!-- 2 -->
          <v-col cols="12" md="3" class="d-inline-flex">
            <v-img
              src="/icons/ic-store.svg"
              alt="canlander"
              max-width="48"
              height="32"
              class="mr-3 mt-1"
            />
            <div>
              <p class="text-h4 mb-1">1.000+</p>
              <p>Projects per year</p>
            </div>
          </v-col>

          <!-- 3 -->
          <v-col cols="12" md="3" class="d-inline-flex">
            <v-img
              src="/icons/ic-smile.svg"
              alt="canlander"
              max-width="32"
              height="32"
              class="mr-3 mt-1"
            />
            <div>
              <p class="text-h4 mb-1">900+</p>
              <p>Client satisfied</p>
            </div>
          </v-col>

          <!-- 4 -->
          <v-col cols="12" md="3" class="d-inline-flex">
            <v-img
              src="/icons/ic-green-support.svg"
              alt="canlander"
              max-width="32"
              height="32"
              class="mr-3 mt-1"
            />
            <div>
              <p class="text-h4 mb-1">24/7</p>
              <p>Quick suport all the time</p>
            </div>
          </v-col>
        </v-row>
      </v-container>
    </section>

    <section id="pricing" class="py-10">
      <v-container>
        <h1 class="text-h4 text-md-h3 font-weight-bold mb-5 text-center">
          Plan & Pricing
        </h1>

        <v-row>
          <!-- 1 -->
          <v-col cols="12" md="6">
            <div class="plan-card">
              <p class="text-center">(apply for the first 14 days)</p>
              <p class="text-h3 text-center font-weight-black my-7 my-md-10">
                Free
              </p>
              <div class="price-list">
                <p class="font-weight-bold">Top-up</p>
                <p class="font-weight-bold">Account setup support</p>
                <p class="font-weight-bold">
                  Review campaign and website, edits
                </p>
                <p class="font-weight-bold">Unlock experimental features</p>
                <p class="font-weight-bold">Submit a request</p>
                <p class="font-weight-bold">Appeal faulty ads support</p>
                <p class="font-weight-bold">
                  Support for video creation tools and TikTok course document
                </p>
              </div>

              <v-btn color="primary" class="text-capitalize" block x-large>
                Get Started
              </v-btn>
            </div>
          </v-col>

          <!-- 2 -->
          <v-col cols="12" md="6">
            <div class="plan-card">
              <p class="text-center">Top-up</p>
              <p class="text-h3 text-center font-weight-black my-7 my-md-10">
                Fee 3%
              </p>
              <div class="price-list">
                <p class="font-weight-bold">Account set-up support</p>
                <p class="font-weight-bold">Unlock experimental features</p>
                <p class="font-weight-bold">Submit a request for approval</p>
                <p class="font-weight-bold">Appeal faulty ads support</p>
                <p class="font-weight-bold">
                  Support for video generation tools and course document
                </p>
                <p class="font-weight-bold">Appeal faulty ads support</p>
                <p class="font-weight-bold">
                  Support preferential price when using Tool Spy TikTok
                </p>
              </div>

              <v-btn color="primary" class="text-capitalize" block x-large>
                Get Started
              </v-btn>
            </div>
          </v-col>
        </v-row>
      </v-container>
    </section>
  </div>
</template>

<script>
import { mapMutations } from 'vuex'
export default {
  data() {
    return {
      branches: [
        {
          name: 'Titok',
          icon: '/icons/ic-tiktok-branch.svg',
          width: '137px',
          height: '32px',
        },
        {
          name: 'Payoneer',
          icon: '/icons/ic-payoneer-branch.svg',
          width: '135px',
          height: '48px',
        },
        {
          name: 'Shopify',
          icon: '/icons/ic-shopify-branch.svg',
          width: '126px',
          height: '36px',
        },
        {
          name: 'Pingpong',
          icon: '/icons/ic-pingpong-branch.svg',
          width: '103px',
          height: '32px',
        },
        {
          name: 'Paypal',
          icon: '/icons/ic-paypal-branch.svg',
          width: '132px',
          height: '32px',
        },
        {
          name: 'Tether',
          icon: '/icons/ic-tether-branch.svg',
          width: '117px',
          height: '32px',
        },
      ],
      swiperOptions: {
        slidesPerView: 2.5,
        grabCursor: true,
        freeMode: true,
        autoplay: {
          delay: 5000,
        },
        breakpoints: {
          // when window width is >= 320px
          320: {
            slidesPerView: 2.5,
          },
          // when window width is >= 480px
          480: {
            slidesPerView: 2.5,
          },
          // when window width is >= 640px
          640: {
            slidesPerView: 7,
          },
        },
        pagination: {
          el: '.swiper-pagination',
          clickable: true,
        },
        navigation: {
          nextEl: '.swiper-button-next',
          prevEl: '.swiper-button-prev',
        },
      },
    }
  },
  created() {
    this.setHeader(false)
  },
  methods: {
    ...mapMutations('app', ['setHeader']),
  },
}
</script>
<style lang="scss">
.swiper-wrapper {
  align-items: center;
}

.title-width {
  max-width: 700px;
  margin: 0 auto;
}

.border {
  &-left {
    border-left: 1px solid var(--v-purple-base);
  }
  &-right {
    border-right: 1px solid var(--v-purple-base);
  }
  &-top {
    border-top: 1px solid var(--v-purple-base);
  }
  &-bottom {
    border-bottom: 1px solid var(--v-purple-base);
  }
}

.review-card {
  min-height: 450px;
}

.question-card {
  min-height: 120px;
  .padding-space {
    padding-top: 42px !important;
    padding-bottom: 42px !important;
  }
}

.plan-card {
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0px 30px 50px rgba(214, 212, 212, 0.5);
}

.price-list {
  p {
    &::before {
      display: inline-block;
      content: '';
      width: 5px;
      height: 5px;
      margin-right: 7px;
      margin-bottom: 3px;
      border-radius: 50%;
      background-color: var(--v-primary-base);
    }
  }
}
</style>

<style lang="scss" scoped>
::v-deep .v-expansion-panel-header {
  &__icon {
    &:after {
      content: url('/icons/ic-dropdown.svg');
      height: 24px;
    }

    .v-icon {
      display: none;
    }
  }

  &.v-expansion-panel-header--active {
    .v-expansion-panel-header__icon {
      &:after {
        transform: rotate(180deg);
      }
    }
  }
}

::v-deep .v-expansion-panel-content__wrap {
  padding: 0;
}

::v-deep .v-expansion-panel {
  background-color: var(--v-purple-base) !important;
  border-radius: 12px !important;
  &::before {
    box-shadow: none;
  }
}
</style>
