// https://github.com/vuetifyjs/vuetify/blob/master/packages/vuetify/src/styles/settings/_variables.scss#L59
// @import '~vuetify/src/styles/styles.sass';
@import '~vuetify/src/styles/settings/variables';

@media #{map-get($display-breakpoints, 'lg-and-up')} {
  .container {
    max-width: 1010px !important;
  }
}

.container--fluid {
  max-width: 100% !important;
}

.fill-width {
  width: 100% !important;
}

.gray-bg {
  background-color: var(--v-gray-base);
}

.primary-bg {
  background-color: var(--v-primary-base);
}

.violet-bg {
  background-color: var(--v-violet-base);
}

.line-height {
  line-height: 1;
}

.white-bg {
  background-color: #fff;
}

.p-fixed {
  position: fixed !important;
}

.p-absolute {
  position: absolute !important;
}

.p-relative {
  position: relative !important;
}

.bottom-0 {
  bottom: 0 !important;
}

.top-0 {
  top: 0 !important;
}

.right-0 {
  right: 0 !important;
}

.left-0 {
  left: 0 !important;
}

.hidden {
  overflow: hidden;
}

.custom-select {
  .v-select__slot {
    &:after {
      content: url('/icons/ic-dropdown.svg');
      height: 24px;
    }
  }
}
