<template>
  <v-row class="text-right">
    <v-col class="py-0">
      <NuxtLink to="#pricing" class="text-decoration-none">
        <span
          class="mr-3"
          :class="{
            'white--text': headerWhite,
          }"
          >Pricing
        </span>
      </NuxtLink>

      <NuxtLink to="#progress" class="text-decoration-none">
        <span
          class="mr-3"
          :class="{
            'white--text': headerWhite,
          }"
          >Progress
        </span>
      </NuxtLink>

      <NuxtLink to="#policy_terms" class="text-decoration-none">
        <span
          class="mr-3"
          :class="{
            'white--text': headerWhite,
          }"
          >Pollicy & Terms
        </span>
      </NuxtLink>

      <span
        class="mr-3 py-6"
        :class="{
          'white--text': headerWhite,
        }"
      >
        <v-menu open-on-hover offset-y>
          <template #activator="{ on, attrs }">
            <span
              :class="{
                'white--text': headerWhite,
              }"
              class="primary--text"
              v-bind="attrs"
              v-on="on"
            >
              Free tools
            </span>
          </template>

          <v-list>
            <v-list-item>
              <v-list-item-title>
                <NuxtLink to="/creative-library" class="text-decoration-none">
                  <span class="mr-3">Creative Library</span>
                </NuxtLink>
              </v-list-item-title>
            </v-list-item>
            <v-divider></v-divider>
            <v-list-item>
              <v-list-item-title>
                <NuxtLink to="/creative-tutorials" class="text-decoration-none">
                  <span class="mr-3">Creative Tutorials</span>
                </NuxtLink>
              </v-list-item-title>
            </v-list-item>
            <v-divider></v-divider>
            <v-list-item>
              <NuxtLink
                to="/business-learning-center"
                class="text-decoration-none"
              >
                <span class="mr-3">Business Learing Center</span>
              </NuxtLink>
            </v-list-item>
          </v-list>
        </v-menu>
      </span>
      <NuxtLink to="#question" class="text-decoration-none">
        <span
          class="mr-3"
          :class="{
            'white--text': headerWhite,
          }"
          >Question</span
        >
      </NuxtLink>

      <NuxtLink to="#contact" class="text-decoration-none">
        <span
          class="mr-3"
          :class="{
            'white--text': headerWhite,
          }"
          >Contact</span
        >
      </NuxtLink>
    </v-col>
  </v-row>
</template>

<script>
import { mapState } from 'vuex'
export default {
  computed: {
    ...mapState('app', ['headerWhite']),
  },
}
</script>
